spring:
  author: Dcl_Snow
  profiles:
    # 使用dev开发环境
    active: dev

  # 配置Jpa
  jpa:
    # 开启SQL打印（建议开发环境）
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        # 开启SQL格式化
        format_sql: true
  devtools:
    restart:
      # 热部署开关
      enabled: true
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
    serialization:
      fail-on-empty-beans: false

# jwt的配置
jwt:
  # 签名加盐
  secret: Snow_Admin_TwentyTwentyOneNovemberTwentyTwo
  # jwt过期时间
  expiration: 18000
  # token头部
  tokenHead: 'Bearer '

# 文件存储配置
file:
  mac:
    path: ~/snowAdmin/file/
    avatar: ~/snowAdmin/avatar/
    images: ~/snowAdmin/images/
  linux:
    path: /home/snowAdmin/file/
    avatar: /home/snowAdmin/avatar/
    images: /home/snowAdmin/images/
  windows:
    path: C:\snowAdmin\file\
    avatar: C:\snowAdmin\avatar\
    images: C:\snowAdmin\images\
  # 文件大小 /M
  maxSize: 50
  avatarMaxSize: 5

# 微信小程序
mini:
  # 密钥
  appId: "*************************"
  secret: "****************************"
